<div id="container">
	<header>
		<div class="user">
			<img src="http://hdjirdeh.github.io/public/me.jpg">
		</div>
		<div>asdfasdf</div>
		<div class="heading-user">
			<strong>Houssein Djirdeh</strong>
			<br/>
			<small>@hdjirdeh</small>
		</div>
	</header>
	<review-list></review-list>
	<!--<input #newContact class="add-contact" placeholder="Add Contacts"
	      (keyup.enter)="addContact(newContact.value); newContact.value='' ">
	<ul class="contact-list">
	  <li *ngFor="let contact of store.contacts">
	  	<contact [contact]="contact"></contact>
	  </li>
	</ul>

	<div *ngFor="let rev of newReviews">
		<review></review>
	</div>

	<div *ngFor="let contact of something">
		<social-media-link>this other</social-media-link>
	</div>

	<social-media-link>this other</social-media-link>
	<div>1155dfdf955159dfdffffffff</div>-->
</div>